<div id="message">
    <table class="table table-bordered table-striped">
        <tbody>
        <tr>
            <td>id</td>
            <td><input class="form-control" id="id" type="text" placeholder="{$list.id}" disabled></td>

        </tr>
        <tr>
            <td>{$Think.lang.name}</td>
            <td><input type="text" class="form-control" placeholder="{$Think.lang.name}" name="name" id="name" value="{$list.name}"/></td>
        </tr>
        <tr>
            <td>{$Think.lang.username}</td>
            <td><input type="text" class="form-control" placeholder="{$Think.lang.username}" username="class" id="username" value="{$list.username}"/></td>
        </tr>
        <tr>
            <td>{$Think.lang.password}</td>
            <td><input type="text" class="form-control" placeholder="{$Think.lang.password}" username="password" id="password" value="{$list.password}"/></td>
        </tr>
        <tr>
            <td>{$Think.lang.telphone}</td>
            <td><input type="text" class="form-control" placeholder="{$Think.lang.telphone}" username="telphone" id="telphone" value="{$list.telphone}"/></td>
        </tr>
        <tr>
            <td>{$Think.lang.email}</td>
            <td><input type="text" class="form-control" placeholder="{$Think.lang.email}" username="email" id="email" value="{$list.email}"/></td>
        </tr>
        <tr>
            <td>{$Think.lang.ip}</td>
            <td><input type="text" class="form-control" placeholder="{$Think.lang.ip}" name="ip" id="ip" value="{$list.ip}"/></td>
        </tr>
        </tbody>
    </table>
</div>