<div id="message">
    <table class="table table-bordered table-striped">
        <tbody>
        <tr>
            <td width="20%">角色名称</td>
            <td><input type="text" class="form-control" placeholder="角色名称" name="name" id="name" value=""/>
            </td>
        </tr>
        <tr>
            <td width="20%">描述</td>
            <td><input type="text" class="form-control" placeholder="描述" name="description" id="description" value=""/>
            </td>
        </tr>
        <tr>
            <td width="20%">权限</td>
            <td>
                {foreach $list as $key=>$vo }
                <label class="checkbox-inline" style="margin:0px auto;"><input type="checkbox" name="menu"
                                                                               value="{$vo.id}">{$vo.name}</label>

                {/foreach}
            </td>
        </tr>

        </tbody>
    </table>
</div>