<div>
    <table class="table table-bordered table-striped">
        <tbody>
        <tr>
            <td>id</td>
            <td><input class="form-control" id="id" type="text" placeholder="{$list.id}" disabled></td>

        </tr>
        <tr>
            <td>上级id</td>
            <td><input class="form-control" id="pid" type="text" placeholder="{$list.pid}"></td>
        </tr>
        <tr>
            <td>名称</td>
            <td><input type="text" class="form-control" placeholder="名称" name="name" id="name" value="{$list.name}"/></td>
        </tr>
        <tr>
            <td>样式</td>
            <td><input type="text" class="form-control" placeholder="样式" name="class" id="class" value="{$list.class}"/></td>
        </tr>
        <tr>
            <td>图标</td>
            <td><input type="text" class="form-control" placeholder="图标" name="icon" id="icon" value="{$list.icon}"/></td>
        </tr>

        <tr>
            <td>title</td>
            <td><input type="text" class="form-control" placeholder="title" name="title" id="title" value="{$list.title}"/></td>
        </tr>
        <tr>
            <td>url</td>
            <td><input type="text" class="form-control" placeholder="url" name="url" id="url" value="{$list.url}"/></td>
        </tr>
        <tr>
            <td>参数</td>
            <td><input type="text" class="form-control" placeholder="参数" name="param" id="param" value="{$list.param}"/></td>
        </tr>
        </tbody>
    </table>
    <div id="message" style="color: red"></div>
</div>