<!--
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 系统管理 <span class="c-gray en">&gt;</span> 栏目管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
-->
<div class="pd-20 text-c">
    <div class="text-c">
        <!--		<input type="text" name="" id="" placeholder="栏目名称、id" style="width:250px" class="input-text">
                <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>-->
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20"><span class="l"><a href="javascript:;" onclick="datadel()"
                                                               class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a
            class="btn btn-primary radius" onclick="system_category_add('添加资讯','system-category-add.html')"
            href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加栏目</a></span></div>
    <div class="mt-20">
        <table id="table_list" ><!--class="table table-border table-bordered table-hover table-bg table-sort"-->
        </table>
        <script>
            $(function () {
            var TableInit = function () {
                var oTableInit = new Object();
                //初始化Table
                oTableInit.Init = function () {
                    $('#table_list').bootstrapTable({
                        url: '{:url("menu/menuList")}',
                        method: 'post',                      //请求方式（*）
                        //toolbar: '#toolbar',                //工具按钮用哪个容器
                        striped: true,                      //是否显示行间隔色
                        cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                        pagination: true,                   //是否显示分页（*）
                        sortable: true,                     //是否启用排序
                        sortOrder: "asc",                   //排序方式
                        sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                        pageNumber: 1,                       //初始化加载第一页，默认第一页
                        pageSize: 10,                       //每页的记录行数（*）
                        pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                        //strictSearch: true,
                        showColumns: true,                  //是否显示所有的列
                        //showRefresh: true,                  //是否显示刷新按钮
                        minimumCountColumns: 2,             //最少允许的列数
                        clickToSelect: true,                //是否启用点击选中行
                        //height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                        uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                        //showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
                        cardView: false,                    //是否显示详细视图
                        detailView: false,                   //是否显示父子表
                        columns: [
                            {
                                field: 'id',
                                title: 'id'
                            }, {
                                field: 'pid',
                                title: '父级id'
                            }, {
                                field: 'name',
                                title: '名称'
                            }, {
                                field: 'class',
                                title: '样式'
                            }, {
                                field: 'icon',
                                title: '图标'
                            }, {
                                field: 'is_menu',
                                title: '是否菜单'
                            }, {
                                field: 'status',
                                title: '状态'
                            }, {
                                field: 'list_order',
                                title: '排序'
                            }, {
                                field: 'title',
                                title: 'title'
                            }, {
                                field: 'url',
                                title: 'url'
                            }, {
                                field: 'param',
                                title: '参数'
                            },]
                    });
                };

                //得到查询的参数
                oTableInit.queryParams = function (params) {
                    var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                        order: "asc",
                        limit: params.limit,   //页面大小
                        offset: params.offset,  //页码
                        departmentname: $("#txt_search_departmentname").val(),
                        statu: $("#txt_search_statu").val()
                    };
                    return temp;
                };
                return oTableInit;
            };


          var ButtonInit = function () {
                var oInit = new Object();
                var postdata = {};

                oInit.Init = function () {
                    //初始化页面上面的按钮事件
                };

                return oInit;
            };

                //1.初始化Table
                var oTable = new TableInit();
                oTable.Init();

                //2.初始化Button的点击事件
                var oButtonInit = new ButtonInit();
                oButtonInit.Init();
            });

        </script>
<!--第一次bootstarptable        <script>
            $('#table_list').bootstrapTable({
                url: '{:url("menu/menuList")}',
                method: 'post',                      //请求方式（*）
                //toolbar: '#toolbar',                //工具按钮用哪个容器
              striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                 sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                 //pageNumber: 1,                       //初始化加载第一页，默认第一页
                //pageSize: 10,                       //每页的记录行数（*）
                //pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                //strictSearch: true,
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                //height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                columns: [
                    {
                    field: 'id',
                    title: 'id'
                }, {
                    field: 'pid',
                    title: '父级id'
                }, {
                    field: 'name',
                    title: '名称'
                }, {
                    field: 'class',
                    title: '样式'
                }, {
                    field: 'icon',
                    title: '图标'
                }, {
                    field: 'is_menu',
                    title: '是否菜单'
                }, {
                    field: 'status',
                    title: '状态'
                }, {
                    field: 'list_order',
                    title: '排序'
                }, {
                    field: 'title',
                    title: 'title'
                }, {
                    field: 'url',
                    title: 'url'
                }, {
                    field: 'param',
                    title: '参数'
                },]
            });
        </script>-->
        <!--databasetable
            <script type="text/javascript">
                    $(document).ready(function() {
                        $('#table_list').DataTable( {
                            "processing": true,
                            "serverSide": true,
                            "ajax": "{:url('menu/menuList')}",
                            "columns": [
                                { data: "id" }
                            ]
                        } );
                    } );
                </script>-->
    </div>
</div>