<div id="message">
    <table class="table table-bordered table-striped">
        <tbody>
        <tr>
            <td>{$Think.lang.name}</td>
            <td><input type="text" class="form-control" placeholder="{$Think.lang.name}" name="name" id="name" value=""/></td>
        </tr>
        <tr>
            <td>{$Think.lang.key}</td>
            <td><input type="text" class="form-control" placeholder="{$Think.lang.key}" name="key" id="key" value=""/></td>
        </tr>
        <tr>
            <td>{$Think.lang.value}</td>
            <td><input type="text" class="form-control" placeholder="{$Think.lang.value}" name="value" id="value" value=""/></td>
        </tr>
        <tr>
            <td>{$Think.lang.memo}</td>
            <td><input type="text" class="form-control" placeholder="{$Think.lang.memo}" name="memo" id="memo" value=""/></td>
        </tr>
        </tbody>
    </table>
</div>