<div id="message">
    <table class="table table-bordered table-striped">
        <tbody>
        <tr>
            <td>订单号</td>
            <td><input type="text" class="form-control" placeholder="订单号" name="Id" id="Id" value=""/></td>
        </tr>
        <tr>
            <td>用户名</td>
            <td><input type="text" class="form-control" placeholder="游戏账号" name="MemberAccount" id="MemberAccount" value=""/></td>
        </tr>
        <tr>
            <td>姓名</td>
            <td><input type="text" class="form-control" placeholder="姓名" name="Name" id="Name" value=""/></td>
        </tr>
        <tr>
            <td>银行</td>
            <td><input type="text" class="form-control" placeholder="银行" name="BankName" id="BankName" value=""/></td>
        </tr>
        <tr>
            <td>银行卡号</td>
            <td><input type="text" class="form-control" placeholder="银行卡号" name="Account" id="Account" value=""/></td>
        </tr>
        <tr>
            <td>金额</td>
            <td><input type="text" class="form-control" placeholder="金额" name="Amount" id="Amount" value=""/></td>
        </tr>
        <tr>
            <td>省</td>
            <td><input type="text" class="form-control" placeholder="省" name="Province" id="Province" value=""/></td>
        </tr>
        <tr>
            <td>县市</td>
            <td><input type="text" class="form-control" placeholder="县市" name="City" id="City" value=""/></td>
        </tr>
        <tr>
            <td>上层代理</td>
            <td><input type="text" class="form-control" placeholder="上层代理" name="AgentAccount" id="AgentAccount" value=""/></td>
        </tr>

        </tbody>
    </table>
</div>