
<script>
    function toggleDetailRow(index, forceUpdate) {
        var row = $dt.DataTable().row(index);
        var data = row.data();
        var $tr = row.nodes().to$();
        var $nextTr = $tr.next("tr");
        if ($nextTr.is('.row-detail')) {
            $nextTr.remove(); // 移除
            if (!forceUpdate) return;
        }

        var writer = [];
        writer.push('<tr class="row-detail"><td colspan="' + $tr.children().length + '"><div>');
        writer.push($.format('<h4>姓名：{name}</h4>', data));
        writer.push('<h4>li样式：</h4>');
        writer.push('<ul class="status-hisotry">');
        for (var i = 0;i<3; i++) {
            i > 0 && writer.push('<li class="glyphicon glyphicon-arrow-right"></li>');
            writer.push('<li class="status">'+i+'</li>');
        }
        writer.push('</ul>');
        writer.push($.format('<div id="info-{name}">信息加载中...</div>', data));
        writer.push('</div></td></tr>');
        $tr.after(writer.join(''));
        $.ajax({
            url: '/order/orderList?id=' + data.id,
            cache: true,
            dataType: 'json'
        }).done(function (res) {
            if (!res.code) {
                if (res.data) {
                    $('#info-' + data.name).replaceWith($.format('<h4>测试ajax获取信息：<a href="/findContact?name={name}">{name}</a></h4>', res.data));
                } else {
                    $('#info-' + data.name).replaceWith('<h4>未查到相关联系人信息</h4>');
                }
            } else {
                $('#info-' + data.name).replaceWith(res.error);
            }
        });
    };$.format = function() {
        var template = arguments[0],
            templateArgs = arguments,
            stringify = function(obj) {
                if (obj == null) {
                    return '';
                } else if (typeof obj === 'function') {
                    return obj();
                } else if (typeof obj !== 'string') {
                    return JSON.stringify ? JSON.stringify(obj) : obj;
                }
                return obj;
            };
        return template.replace(/\{\w+(\.\w+)*\}/g, function(match) {
            var propChains = match.slice(1, -1).split('.');
            var index = isNaN(propChains[0]) ? 0 : +propChains.shift();
            var arg, prop;
            if (index + 1 < templateArgs.length) {
                arg = templateArgs[index + 1];
                while (prop = propChains.shift()) {
                    arg = arg[prop] == null ? '' : arg[prop];
                }
                return stringify(arg);
            }
            return match;
        });
    };

</script>